<div class="row">
  <div class="col">
    <span class="handle">{{leader.handle}}</span> &mdash; <span class="name">{{leader.name}}</span>
  </div>
  <div class="col">
    <span class="score">{{leader.score == -1 ? '*' : leader.score}}</span>
  </div>
</div>
<ng-content></ng-content>