<div class="container">
  <h1>Leader Board</h1>
  <div class="row">
    <input [(ngModel)]="searchText" placeholder="search text goes here">
    <app-leader class="col-12" *ngFor="let leader of leaders$|async|filter:searchText" [leader]="leader" (click)="selectLeader(leader)">
      <app-leader-details *ngIf="isSelected(leader)" [leader]="leader"></app-leader-details>
    </app-leader>
  </div>
</div>